body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353849;
}

.svg {
  width: 450px;
  height: 450px;
}

.hex {
  fill: rgba(255,255,255,.9);
  animation: fadein 3.3s infinite;
  opacity: 0;
  transform-origin: 50% 50%;
}

.hex:nth-child(2) {
  animation-delay: .2s;
}

.hex:nth-child(3) {
  animation-delay: .4s;
}

.hex:nth-child(4) {
  animation-delay: .6s;
}

.hex:nth-child(5) {
  animation-delay: .8s;
}

.hex:nth-child(6) {
  animation-delay: 1.0s;
}

.hex:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes fadein {
  0%, 100% {
    transform: scale(0.001,0.001);
    opacity: 0;
  }
  
  33%, 66% {
    transform: scale(.9,.9);
    opacity: 1;
  }
}

.after {
    content: "";
    color: #353849;
    background: #fff;
    position: absolute;
    
  }