<!DOCTYPE HTML>
<html>
	<head>
		<title>Apollo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static',filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="#">Apollo</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/home">Home</a></li>
								<li><a href="/beethoven">Beethoven</a></li>
								<li><a href="/bach">Bach</a></li>
								<li><a href="/mozart">Mozart</a></li>
								<li><a href="/chopin">Chopin</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="fa fa-music" style="font-size:36px"></span></div>
							<h2>Welcome to Apollo!</h2>
							<p>An Artificial Intelligence which can generate paino compositions similar to greats such as Mozart, Beethoven, Bach, Chopin, etc.</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="/beethoven" class="image"><img src="static/images/beethoven.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Ludwig van Beethoven</h2>
										<p>Ludwig van Beethoven (baptized 17 December 1770 – 26 March 1827) was a German composer. He wrote classical music for the piano, orchestras and different groups of instruments. In 1801, however, he began to lose his hearing. His deafness became worse.[2] By 1817, he was completely deaf. Although he could no longer play in concerts, he continued to compose. During this time he composed some of his greatest works. He is said to be one of the greatest classical composers[3] who has ever lived.</p>
										<a href="/beethoven" class="special">Play some tunes?</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="/bach" class="image"><img src="static/images/bach.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Johann Sebastian Bach</h2>
										<p>Johann Sebastian Bach (31 March 1685 – 28 July 1750) was a German composer and organist. He lived in the last part of the Baroque period.  Most of his life, however, he worked in a church where he was expected to write church music. Bach wrote almost every kind of music except opera. During the last part of his life most composers were writing in a new style called the Classical style, but Bach always wrote in the Baroque style. Along with Mozart and Beethoven, Bach is regarded as one of the greatest composers who has ever lived.</p>
										<a href="/bach" class="special">Play some tunes?</a>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="/mozart" class="image"><img src="static/images/mozart.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Wolfgang Amadeus Mozart</h2>
										<p>Wolfgang Amadeus Mozart (January 27, 1756 – December 5, 1791) was an Austrian composer (music writer), instrumentalist, and music teacher. He was born in Salzburg, Austria, the youngest child of Leopold and Anna Maria Mozart. From a very early age, the young Mozart showed great musical talent. He toured Europe with his parents and older sister "Nannerl" for several years performing for royalty and the aristocratic elite.</p>
										<a href="/mozart" class="special">Play some tunes?</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="/chopin" class="image"><img src="static/images/chopin.jpeg" alt="" /></a>
									<div class="content">
										<h2 class="major">Frédéric Chopin</h2>
										<p>Fryderyk Franciszek Chopin (1 March 1810 – 17 October 1849; pronounced SHOH-pen) was a Polish composer and virtuoso pianist. He is considered one of the greatest Romantic piano composers. Chopin was born in Żelazowa Wola, a village in the Duchy of Warsaw. A famous child prodigy, he grew up in Warsaw where he completed his music education and composed many of his mature works before leaving Poland in 1830 at age 20, shortly before the November 1830 Uprising.</p>
										<a href="/chopin" class="special">Play some tunes?</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Music Based on Mood</h2>
									<p>Select moods which you feel like listening to. Enjoy!!</p>
									<section class="features">
										<article>
											<a href="/happy" class="image"><img src="static/images/happyPiano2.jpg" alt="" /></a>
											<h3 class="major">Feeling Bubbly?</h3>
											<p>Generate tunes which will keep you going. Listen to some cheerful piano tunes freshly generated for you.</p>
											<a href="/happy" class="special">Learn more</a>
										</article>
										<article>
											<a href="/sad" class="image"><img src="static/images/sadPiano.jpg" alt="" /></a>
											<h3 class="major">Feeling Down?</h3>
											<p>Generate tunes which will get you going. Listen to some deep piano symphonies freshly generated for you.</p>
											<a href="/sad" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic06.jpg" alt="" /></a>
											<h3 class="major">Ante fermentum</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic07.jpg" alt="" /></a>
											<h3 class="major">Fusce consequat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Want to know how the AI works?</h2>
							<p>This project was created by Darryl Fernandes, Vishal Dube and Myron Dsouza as a capstone project for Bachelors in Computer Engineering. The source code for this project can be found on <a href="https://github.com/droid2299">this GitHub page.</a></p>
							<ul class="copyright">
								<li>&copy; Darryl Fernandes, Vishal Dube and Myron Dsouza</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

	</body>
</html>